@font-face {
  font-family: afacad;
  src: url("../assets/fonts/Afacad-Regular.ttf");
}

@font-face {
  font-family: alice;
  src: url("../assets/fonts/Alice-Regular.ttf");
}

@font-face {
  font-family: lancelot;
  src: url("../assets/fonts/Lancelot-Regular.ttf");
}

body {
  background:
    url("../assets/vine_v5.png"), linear-gradient(to bottom, #570000, #b37267);
  background-position:
    -100px -100px,
    center center;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
  background-size:
    500px auto,
    cover;
  background-blend-mode: color-burn, normal;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

h1 {
  font-family: afacad;
  text-align: center;
}

.container {
  min-height: 100vh;
  min-width: 75%;
  width: 75%;
  background: linear-gradient(to bottom, #000000, #540000);
  background-attachment: fixed;
  background-repeat: repeat;
  border-left: 5px rgba(0, 0, 0, 0.496) solid;
  border-right: 5px rgba(0, 0, 0, 0.478) solid;
}

.game-title {
  width: 600px;
}

.navbar {
  /* background: linear-gradient(
    to right,
    transparent 0%,
    #570000 25%,
    #570000 75%,
    transparent 100%
  ); */
  background: linear-gradient(
    to right,
    transparent 0%,
    #7a2c27 25%,
    #7a2c27 75%,
    transparent 100%
  );
}

.navbar-nav {
  justify-content: center !important;
  text-align: center;
}

.navbar-title {
  color: #ffdeb1;
  font-family: lancelot;
  font-size: 30px;
  text-decoration: none;
}

.nav-bar-btn {
  background: linear-gradient(to bottom, #000000, #761f1f);
  color: #ffdeb1;
  border: #d8c7af 2px solid;
  padding: 5px !important;
  margin: 5px 5px 5px 5px;
  font-family: lancelot;
  font-size: 20px;
  text-align: center;
  min-width: 150px;
  text-decoration: none;
  border-radius: 25px;
}

.nav-bar-btn:hover {
  background: linear-gradient(to bottom, #000000, #000000);
}

.navigation-button {
  width: 80%;
  text-align: center;
  cursor: pointer;
  color: #ffdeb1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navigation-button .navbar-title:hover {
  color: #c6a87d;
  transition: 0.2s ease-in-out;
}

.itch-link {
  color: #ffdeb1;
  cursor: pointer;
  text-decoration: none;
  font-family: lancelot;
  font-size: 18px;
  text-align: end;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.itch-link:hover {
  transition: 0.2s ease-in-out;
  color: #fa5c5c;
}

.game-wrapper {
  width: 75%;
  border: 5px solid #000000;
  border-radius: 10px;
  background-color: #000000;
  padding: 0px;
}

.divider-wrapper {
  display: flex;
  justify-content: center;
}

.divider {
  width: 350px;
}

#game-container {
  position: relative;
}

.load-game-btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #000000, #761f1f);
  color: #ffdeb1;
  border: #d8c7af 2px solid;
  border-radius: 25px;
  padding: 5px 10px;
  font-family: lancelot;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-game-btn i {
  font-size: 12px;
}

.load-game-btn:hover {
  background: linear-gradient(to bottom, #000000, #000000);
}

.about-container {
  width: 80%;
  margin: auto;
}

.content-container {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #8c6439;
  border-radius: 10px;
  font-family: alice;
  font-size: 16px;
  color: #d8c7af;
  line-height: 1.3;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.about-box {
  text-align: justify;
}

.content-title {
  position: absolute;
  top: -35px;
  z-index: 2;
  font-family: lancelot;
  font-size: 45px;
  color: #ffeed7;
  filter: drop-shadow(1px 1px 0px #8c6439) drop-shadow(-1px -1px 0px #8c6439)
    drop-shadow(1px -1px 0px #8c6439) drop-shadow(-1px 1px 0px #8c6439);
}

.column {
  max-width: 50%;
  min-height: 200px;
}

.content-row {
  padding: 50px 12px 0px 12px;
}

ul {
  margin-bottom: 0px;
}

.content-list {
  list-style-image: url("../assets/bat_icon_v2.png");
}

.gallery-container {
  margin: auto;
}

.gallery-thumbnail {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  width: 15rem;
  object-fit: cover;
  object-position: 25% 12%;
  margin: 2px;
  cursor: pointer;
  transition: transform 0.2s ease;
  background-color: #1a1a304b;
  border: 3px solid #b89c7c;
  border-radius: 5px;
  max-height: 15rem;
}

.gallery-thumbnail:hover {
  transform: scale(1.05);
}

.gallery-link a {
  display: flex;
  align-items: center;
}

.gallery-link {
  color: #ffdeb1;
  cursor: pointer;
  text-decoration: none;
  font-family: lancelot;
  font-size: 18px;
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: end;
}

.gallery-link:hover {
  transition: 0.2s ease-in-out;
  color: #fa5c5c;
}

/*---------------------------- responsiveness -----------------------------*/

@media only screen and (max-width: 1120px) {
  .container {
    width: 85%;
    min-width: 85%;
  }

  .about-container {
    width: 80%;
  }
}

@media only screen and (max-width: 992px) {
  .itch-link {
    width: 90%;
  }

  .game-wrapper {
    width: 90%;
  }

  .nav-bar-btn {
    background: linear-gradient(
      to right,
      transparent 0%,
      black 25%,
      black 75%,
      transparent 100%
    );
    border: none;
  }

  .nav-bar-btn:hover {
    background: linear-gradient(
      to right,
      transparent 0%,
      #c6a87d 25%,
      #c6a87d 75%,
      transparent 100%
    );
    color: black;
    transition: 0.2s ease-in-out;
  }

  .about-container {
    width: 90%;
  }

  .column {
    max-width: 100%;
    min-height: 200px;
    padding-bottom: 40px;
  }

  .content-row {
    padding-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
    min-width: 95%;
  }

  .divider {
    width: 200px;
  }

  .load-game-btn {
    top: 50%;
    width: 75%;
    border: #d8c7af 1px solid;
    font-size: 18px;
  }

  .about-container {
    width: 95%;
  }

  .content-title {
    font-size: 30px;
    top: -20px;
  }

  .column {
    max-width: 100%;
    min-height: 200px;
    padding-bottom: 30px;
  }

  .about-row {
    margin-top: 20px !important;
  }
}
